<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/templatemo-klassy-cafe.css">
    <link rel="stylesheet" href="/static/css/owl-carousel.css">
    <link rel="stylesheet" href="/static/css/lightbox.css">
    <title>{{ title }}</title>
</head>
<body>

{% block preloader %}
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
{% endblock %}

{% block header %}
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{{ url_for('homepage') }}" class="logo">
                        <img src="/static/images/logo.jpg" alt="" style="width: 130px">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="{{ url_for('homepage') }}">Главная</a></li><!--
                          <li class="submenu">
                              <a href="javascript:;">Drop Down</a>
                              <ul>
                                  <li><a href="#">Drop Down Page 1</a></li>
                                  <li><a href="#">Drop Down Page 2</a></li>
                                  <li><a href="#">Drop Down Page 3</a></li>
                              </ul>
                          </li>
                      -->
                        <li class="scroll-to-section"><a href="{{ url_for('menu') }}">Меню</a></li>
                        <li class="scroll-to-section"><a href="{{ url_for('contact') }}">Связь</a></li>
                        <li class="submenu">
                            <a href="javascript:;">Аккаунт</a>
                            <ul>
                                {% if request.user %}
                                <li>
                                    <a href="{{ url_for('cart') }}">Корзина
                                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                        </svg>
                                    </a>
                                </li>
                                <li><a href="{{ url_for('logout') }}">Выйти</a></li>
                                {% else %}
                                <li><a href="{{ url_for('login') }}">Войти</a></li>
                                <li><a href="{{ url_for('register') }}">Регистрация</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
{% endblock %}


<!-- jQuery -->
<script src="/static/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="/static/js/owl-carousel.js"></script>
<script src="/static/js/accordions.js"></script>
<script src="/static/js/datepicker.js"></script>
<script src="/static/js/scrollreveal.min.js"></script>
<script src="/static/js/waypoints.min.js"></script>
<script src="/static/js/jquery.counterup.min.js"></script>
<script src="/static/js/imgfix.min.js"></script>
<script src="/static/js/slick.js"></script>
<script src="/static/js/lightbox.js"></script>
<script src="/static/js/isotope.js"></script>

<!-- Global Init -->
<script src="/static/js/custom.js"></script>
<script>

    $(function() {
        var selectedClass = "";
        $("p").click(function(){selectedClass = $(this).attr("data-rel");$("#portfolio").fadeTo(50, 0.1);
            $("#portfolio div").not("."+selectedClass).fadeOut();setTimeout(function() {$("."+selectedClass).fadeIn();$("#portfolio").fadeTo(50, 1);}, 500);

        });
    });

</script>

{% block content %}{% endblock %}

{% block footer %}
<footer>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-xs-12">
            <div class="right-text-content">
                <ul class="social-icons">
                    <li><a href="https://vk.com/hotei_tavda"><i class="fa fa-vk"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="logo">
                <a href="{{ url_for('homepage') }}">
                    <img src="/static/images/logo.jpg" style="width: 130px" alt="">
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-xs-12">
            <div class="left-text-content">
                <p>©Все права защищены
                <br>Создан: michael7nightingale</p>
            </div>
        </div>
    </div>
</div>
</footer>
{% endblock %}
</body>
</html>