{% extends "base.html" %}

{% block content %}
<!-- ***** Menu Area Starts ***** -->
<section class="section" id="offers">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 text-center">
                <div class="section-heading">
<!--                    <h6>Klassy Week</h6>-->
                    <h2>{{ category.name }}</h2>
                </div>
            </div>
        </div>
        <section class='tabs-content'>
            <article id='tabs-1'>
                <div class="row">
                    {% for product in products %}
                    <div class="col">
                        <div class="row">
                            <div class="col-4">
                                <a href="{{ url_for('product', product_slug=product['slug'], category_slug=product['category.slug']) }}">
                                    <img src="/static/images/product/{{ product['image_path'] }}">
                                </a>
                            </div>
                            <div class="col" style="margin: auto">
                                <a>{{ product['name'] }}</a>
                            </div>
                            <div class="col price">
                                <h6>{{ product['price'] }} ₽</h6>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </article>
        </section>
    </div>
</section>
<!-- ***** Menu Area Ends ***** -->

<script>
    for (let liEl of document.getElementsByClassName("scroll-to-section")){
        if (liEl.innerText === "Меню"){
            liEl.children[0].className = "active"
        }
    }
</script>
{% endblock %}