{% extends "base.html" %}

{% block content %}
<section class="section" id="reservation">
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <div class="">
                    <div class="section-heading">
                        <h6>Свяжитесь с нами</h6>
                        <h2>Выберете раздел.</h2>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="phone">
                                <i class="fa fa-pencil"></i>
                                <h4>Забронировать столик</h4>
                                <a class="btn btn-primary" href="{{ url_for('table_reservation') }}">Перейти</a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="message">
                                <i class="fa fa-quote-left"></i>
                                <h4>Отзывы</h4>
                                 <a class="btn btn-primary" href="{{ url_for('reviews') }}">Перейти</a>
                            </div>
                        </div>

                    </div>
                    <div class="row" style="margin-top: 50px">
                        <div class="col">
                            <div class="phone">
                                <i class="fa fa-phone"></i>
                                <h4>Номера телефона</h4>
                                <span>
                                    {% for number in phone_numbers %}
                                    <a href="">
                                        {{ number.number }}  {% if number.description %} ({{ number.description }}) {% endif %}
                                    </a>
                                    <br>
                                    {% endfor %}
                                </span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="message">
                                <i class="fa fa-envelope"></i>
                                <h4>Почтовые адреса</h4>
                                <span>
                                    {% for email in emails %}
                                    <a href="">
                                        {{ email.email }} {% if email.description %} ({{ email.description }}) {% endif %}
                                    </a>
                                    <br>
                                    {% endfor %}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    for (let liEl of document.getElementsByClassName("scroll-to-section")){
        if (liEl.innerText === "Связь"){
            liEl.children[0].className = "active"
        }
    }
</script>
{% endblock %}
