{% extends "base.html" %}

{% block content %}
<section class="section" id="reservation">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="left-text-content">
                    <div class="section-heading">
                        <h6>Свяжитесь с нами</h6>
                        <h2>Вы можете забронировать слотик здесь или в нашем кафе.</h2>
                    </div>
                    <p>Здесь будет описание</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="phone">
                                <i class="fa fa-phone"></i>
                                <h4>Номера телефона</h4>
                                <span>
                                    {% for number in phone_numbers %}
                                    <a href="">
                                        {{ number.number }}  {% if number.description %} ({{ number.description }}) {% endif %}
                                    </a>
                                    <br>
                                    {% endfor %}
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="message">
                                <i class="fa fa-envelope"></i>
                                <h4>Почтовые адреса</h4>
                                <span>
                                    {% for email in emails %}
                                    <a href="">
                                        {{ email.email }} {% if email.description %} ({{ email.description }}) {% endif %}
                                    </a>
                                    <br>
                                    {% endfor %}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-form">
                    <form id="contact" action="" method="post">
                        <div class="row"><div class="col-lg-12">
                            <h4>Заполните форму</h4>
                        </div><div class="col-lg-6 col-sm-12">
                            <fieldset>
                                <input name="name" type="text" id="name" placeholder="Имя*" required="required">
                            </fieldset>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <fieldset>
                            </fieldset>
                            <input name="phone" type="text" id="phone" placeholder="Номер телефона*" required="required">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <fieldset>
                                <select required value="number-guests" name="number-guests"  id="number-guests">
                                <option name="1" id="1">1</option>
                                <option name="2" id="2">2</option>
                                <option name="3" id="3">3</option>
                                <option name="4" id="4">4</option>
                                <option name="5" id="5">5</option>
                                <option name="6" id="6">6</option>
                                <option name="7" id="7">7</option>
                                <option name="8" id="8">8</option>
                                <option name="9" id="9">9</option>
                                <option name="10" id="10">10</option>
                                <option name="11" id="11">11</option>
                                <option name="12" id="12">12</option>
                                </select>
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <div id="filterDate2">
                                <div class="input-group date" data-date-format="dd/mm/yyyy">
                                    <input  name="date" id="date" type="text" class="form-control" placeholder="дд/мм/гггг">
                                    <div class="input-group-addon" >
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Сообщение" required=""></textarea>
                            </fieldset>
                        </div>
                         <div class="col-lg-12">
                            <fieldset>
                                <button type="submit" id="form-submit" class="main-button-icon">Забронировать</button>
                            </fieldset>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    for (let liEl of document.getElementsByClassName("scroll-to-section")){
        if (liEl.innerText === "Связь"){
            liEl.children[0].className = "active"
        }
    }
</script>
{% endblock %}
