{% extends "base.html" %}

{% block content %}
<!-- ***** Menu Area Starts ***** -->
<section class="section" id="offers">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 text-center">
                <div class="section-heading">
<!--                    <h6>Klassy Week</h6>-->
                    <h2>Меню</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row" id="tabs">
                    <div class="col-lg-12">
                        <div class="heading-tabs">
                            <div class="row">
                                <div class="col-lg-6 offset-lg-3">
                                    <ul>
                                        {% for category in categories %}
                                        <li onclick="categoryLocation(event)">
                                            <a base-url="{{ url_for('menu') }}" path="{{ category.slug }}">
                                                <img src="/static/images/tab-icon-01.png" alt="{{ category.name }}">
                                                {{ category.name }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Chefs Area Ends ***** -->

<!-- ***** Chefs Area Starts ***** -->
<!--<section class="section" id="chefs">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-4 offset-lg-4 text-center">-->
<!--                <div class="section-heading">-->
<!--                    <h6>Our Chefs</h6>-->
<!--                    <h2>We offer the best ingredients for you</h2>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-lg-4">-->
<!--                <div class="chef-item">-->
<!--                    <div class="thumb">-->
<!--                        <div class="overlay"></div>-->
<!--                        <ul class="social-icons">-->
<!--                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>-->
<!--                        </ul>-->
<!--                        <img src="/static/images/chefs-01.jpg" alt="Chef #1">-->
<!--                    </div>-->
<!--                    <div class="down-content">-->
<!--                        <h4>Randy Walker</h4>-->
<!--                        <span>Pastry Chef</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4">-->
<!--                <div class="chef-item">-->
<!--                    <div class="thumb">-->
<!--                        <div class="overlay"></div>-->
<!--                        <ul class="social-icons">-->
<!--                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--                            <li><a href="#"><i class="fa fa-behance"></i></a></li>-->
<!--                        </ul>-->
<!--                        <img src="/static/images/chefs-02.jpg" alt="Chef #2">-->
<!--                    </div>-->
<!--                    <div class="down-content">-->
<!--                        <h4>David Martin</h4>-->
<!--                        <span>Cookie Chef</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4">-->
<!--                <div class="chef-item">-->
<!--                    <div class="thumb">-->
<!--                        <div class="overlay"></div>-->
<!--                        <ul class="social-icons">-->
<!--                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--                            <li><a href="#"><i class="fa fa-google"></i></a></li>-->
<!--                        </ul>-->
<!--                        <img src="/static/images/chefs-03.jpg" alt="Chef #3">-->
<!--                    </div>-->
<!--                    <div class="down-content">-->
<!--                        <h4>Peter Perkson</h4>-->
<!--                        <span>Pancake Chef</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- ***** Chefs Area Ends ***** -->
<script>
    for (let liEl of document.getElementsByClassName("scroll-to-section")){
        if (liEl.innerText === "Меню"){
            liEl.children[0].className = "active"
        }
    }

 function categoryLocation(event){
     let target = event.target;
     if (target.tagName === "IMG"){
         target = target.parentElement;
     }
     let baseUrl = target.getAttribute("base-url");
     let path = target.getAttribute("path");
     window.location = `${baseUrl}/${path}`;

 }

</script>
{% endblock %}
